.content {
    background-color: green;
   
}
.title {
    color: white;
    text-align: center;
}
.pekko {
    
}

.counter{
    background-color: rgb(94, 94, 94);
}
table{
    border: 2px solid black;
    width: 900px;
    border-collapse: collapse;
}
th {
    border: 2px solid black;
}
td{
    border: 2px solid black;
}
button{
    background-color: green;
}
iframe {
    width: 100%;
}